:root {
  --step--2: clamp(0.88rem, 0.77rem + 0.54vw, 1.15rem);
  --step--1: clamp(0.94rem, 0.82rem + 0.57vw, 1.23rem);
  --step-0: clamp(1.00rem, 0.88rem + 0.61vw, 1.31rem);
  --step-1: clamp(1.07rem, 0.94rem + 0.65vw, 1.40rem);
  --step-2: clamp(1.14rem, 1.00rem + 0.69vw, 1.49rem);
  --step-3: clamp(1.22rem, 1.07rem + 0.74vw, 1.59rem);
  --step-4: clamp(1.30rem, 1.14rem + 0.79vw, 1.70rem);
  --step-5: clamp(1.38rem, 1.21rem + 0.84vw, 1.82rem);
}

html{
  
  font-family: 'Poppins', sans-serif;
  font-size: 18px;

}

.container{

  color: #fff;

}

.headerContainer{

  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(3, 2, 3);

}

.nav{

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 65px;
  justify-content:space-between;

}

.nav__links{

  display: flex;
  flex-grow: 0.5;
  justify-content: flex-end;
  align-items: center;
}

.nav__links__link{

  margin-right: 15px;
  text-align: center;
  padding: 10px;
  transition: all .4s;
}

.nav__links__link:hover{

  border-radius: 5px;
  background-color: rgb(133, 0, 77);
  cursor:pointer;

}

.nav__links__link a {

  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--step--1);

}

.nav__links:last-child{

  margin-right: 50px;

}

.mainContainer{

  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

.cover{
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,98,117,0) 50%, rgba(0,0,0,1) 100%);
  display:flex;
  height: max-content;
  flex-basis:content;
  flex-wrap:wrap;
  padding: 20px 30px 0px 30px;

}


#myVideo {

  max-height: 800px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover__left{
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  flex-wrap: wrap;
  flex-grow: 2;
}

.cover__heading{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__heading__title{
  font-family: 'Fjalla One', sans-serif;
  font-size: clamp(3rem, 10vw + 1rem, 5rem);
  line-height:1;

}

span::before{
  
  content: '';
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: text_changing 2s infinite, glitch 500ms infinite;

}

@keyframes text_changing {
  
  0%{
    content: 'x';
  }

  50%{
    content: 'a';
  }

  100%{
    content: 'o';
  }
}

.cover__heading__text{

  font-size: var(--step-2);
  margin-top: 15px;
}

.glitch{

  text-shadow: 
  0.05em 0 0 rgba(255,0,0,.75),
  -0.25em -.05em 0 rgba(0,255,0,.75),
  0.25em .05em 0 rgba(0,0,255,.75);

  animation:glitch 500ms infinite;

}


.glitch span:first-child {
  animation: glitch 650ms infinite;

  /* color: green; */
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  /* color: red; */
}

@keyframes glitch {
  
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

}

.cover__logos{

  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.cover__logos i {

  margin-right: 50px;

}

.cover__logos:last-child{
  margin-right: 0;
}

.cover__right{
  
  display: flex;
  flex-direction: column;
  width:auto;
  flex-grow: 1.5;
  align-items: flex-end;
}


.cover__image{
  
  width: 100%;
  text-align: center;
  
}

.cover__image img {

  border-radius: 48% 52% 46% 54% / 57% 56% 44% 43%;
  object-fit:cover;
  height: 250px;
  width: 250px;
  box-shadow: 0 0 10px #d8b8f7;
  
}

.cover__button{
  display: flex;
  width: auto;
}

#myBtn {

  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(161, 161, 161, 0.747);
  align-self: flex-end;
  justify-self: flex-end;
}
  
#myBtn:hover {
  color: rgb(255, 255, 255);
}


.division {
 
  width:100%;
  height: 200px;
  
}


.aboutMe{

  height: 1000px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;

}

.bioContainer{
  
  width: min(90%,1000px);
  margin-inline: auto;
}

.bioContainer__title{
 
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: var(--step-2);
}

.bioContainer__content{
  font-size: var(--step-0);
}

@media only screen and (max-width: 955px) {



}